<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/editablegrid-2.0.1.css" />
    <script src="/js/editablegrid-2.0.1.js"></script>
    <body>
      <%= yield %>
    </body>
  </head>
</html>
